nav{
    background-color: #000000;
    overflow: hidden;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
}

.header-links{
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
}
.search-bar{
    border: #fbff00 2px solid;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}
.link-container{
    flex: 3;
    color: #ffffff;
    text-decoration: none;
    border: #8d9700 2px solid;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    height: 100%;
    margin-left: 20px;
}
.form-control{
    border: none;
    height: 70%;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
